@font-face {
    font-family: "ClashDisplay-Bold";
    src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Bold.ttf");
}

@font-face {
    font-family: "ClashDisplay-Medium";
    src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Medium.ttf");
}

@font-face {
    font-family: "ClashDisplay-Semibold";
    src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Semibold.ttf");
}

@font-face {
    font-family: "ClashDisplay-Regular";
    src: url("./ClashDisplay_Complete/Fonts/WEB/fonts/ClashDisplay-Regular.ttf");
}

*{
    padding: 0px;
    margin:0px;
    box-sizing:border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x:hidden;
}

.page-gap{
    gap:100px;
}

#margin-top{
    margin-top: 100px;
}

.heading2{
    font-family: 'ClashDisplay-Medium';
    line-height:26px;
    font-size:16px;
}
.navbar{
    width:75%;
    height: 60px;
    margin: 32px;
}

.nav-link {
    font-family: 'ClashDisplay-Medium';
    font-size: 20px;
    line-height: 26px;
    color: black;
}

.navbar-brand {
    font-weight: 500;
    color: black;
    display: flex;
    margin-right: 32px;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
    margin: 4px;
}

.navbar-brand strong {
    font-size: 24px;
    font-kerning: none;
}

.navbar-brand sup {
    width: 9px;
    height: 5px;
    font-family: 'Plus Jakarta Sans';
    font-size: 4.15px;
    line-height: auto;
    vertical-align: super;
}

.navbar-brand:hover {
    color: unset;
}

.nav-item .active,.nav-link:hover,.nav-link:focus {
    font-family: 'ClashDisplay-Bold';
    color: #ff5555;
}

.btn {
    font-family: 'ClashDisplay-Medium';
    height: 60px;
    width: 180px;
   
}

.navbar-toggler {
    background-color: black;
    margin: 8px;
}

.btn:hover,.navbar-toggler:hover {
    background-image: linear-gradient(to bottom right, #FDE598, #ff5555);
    
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.btn img {
    width: 20px;
    height: 20px;
    margin: 8px;
}

label+h1 {
    font-size: 48px;
}

label,h6,p {
    font-size: 18px;
    line-height: 28px;
}

label {
    font-family: 'ClashDisplay-Medium';
    color: #FF5555;
    text-transform: uppercase;
}

p {
    font-family: 'ClashDisplay-Medium';
    text-transform: capitalize;
    opacity: 0.5;
}
#frame{
    background:black;
     color:white;
     border-radius: 8px;
}

h1 {
    font-size: 64px;
    font-family: 'ClashDisplay-Bold';
    text-transform: capitalize;
}

h6 {
    font-family: 'ClashDisplay-Semibold';
    text-transform: capitalize;
    margin: 0px;
}

.icon-24 {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.icon-30{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    opacity: 0.5;
    

}

.icon-40{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.icon-48 {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}


.card {
    position: relative;
    top:-250px;
    right: -100px;
    flex-direction: row;
    border-radius: 5px;
}

.card img {
    width: 40px;
    height: 40px;
    margin: 10px;
}


.card .card-title, .card a, .card .card-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Nunito Sans';
    color: #888B92;
}

.card a {
    margin: 8px 16px;
    font-size: 7px;
    line-height: 7px;
    text-decoration: none;
    color: #ff0000;
}

.card .card-text {
    line-height: 9px;
    font-size: 9px;
}


.card1 p{
    color: #ffffff;
    font-family: 'Nunito Sans';
    font-size: 5px;
    opacity: unset;
}
.card1{
    position:relative;
    left: 20px;
    top: -360px;
    width: 260px;
    height: 159px;
    background: #000000;
    color:white;
    border-radius: 16px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding:4px;
}
.card1-body{
    padding: 8px;
}

.card1 .card1-title {
    font-family: 'Nunito Sans';
    font-size: 10px;
    letter-spacing:8%;
    text-transform: capitalize !important;
    margin:0px;

}
 .card1 .card1-text {
    font-size: 13px;
    line-height: auto;
    letter-spacing: 8%;
    font-family: 'DM Sans';
    margin:0px;
}


.card1 img{
    width:56px;
    height: 17px;
}

.custom-card{
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    top:unset;
    right: unset;
    padding: 16px;
}

.custom-card-title,.custom-card-text{
    font-family: 'ClashDisplay-Semibold';
    font-size:28px;
    line-height: 28px;
    color: white !important;
    text-transform: capitalize !important;
}

.custom-card-text{
    font-family: 'ClashDisplay-Medium';
    font-size: 18px;
    opacity: unset;
}

.heading{
    font-family:'ClashDisplay-Medium';
    font-size: 32px;
    line-height: 42px;
}
li{
    list-style-type: none;
}
.heading + li{
    font-family: 'ClashDisplay-Medium';
    font-size:16px;
    line-height: 26px;
}

.row-gap-12 {
    gap: 12px;
}
.row-gap-24{
    row-gap:24px;
}

.row-gap-32 {
    gap: 32px;
}

.row-gap-4 {
    gap: 4px;
}

#mobile-angle {
    transform: rotate(-15deg);
}

.mobile-silver {
    filter: drop-shadow(24px 24px 50px rgba(0, 0, 0, 0.2));
    position: relative;
    left: 10px;
    top: 10px;
    width: 222px;
    height: 481px;
}


.mobile-mockup {
    position: absolute;
    width: 249px;
    height: 504px;
}
#mobile-1{
    position: relative;
}

#mobile-2 {
    position: relative;
    z-index: -1;
    top: 10%;
    right: 18%;
}

#mobile-3 {
    position:relative;
    top: 19%;
    right: 36%;
    z-index: -2;
}

#stars {
    width:48px;
    height: 48px;
    position: absolute;
    content: url('./images/star.png');
}

#stars:nth-of-type(1) {
    right: 96px;
    top: 50px;
}

#stars:nth-of-type(2) {
    left: 79px;
    top: 116px;
    transform: rotate(-45deg);
    z-index:-1;
}

#stars:nth-of-type(3) {
    left: 315px;
    top: 569px;
    transform: rotate(-45deg);
    z-index:-1;
}

#stars:nth-of-type(4) {
    position: absolute;
    right: 537px;
    top: 683px;
    transform: rotate(150deg);
    z-index:-1;
}

#stars:nth-of-type(5) {
    left: 80px;
    top: 1070px;
    transform: rotate(45deg);
    z-index:-1;
}

#stars:nth-of-type(6) {
    right: 5px;
    top: 1659px;
    z-index:-1;
}

#stars:nth-of-type(7) {
    left: 665px;
    top: 2230px;
    transform: rotate(-45deg);
    z-index:-1;
}

#stars:nth-of-type(8) {
    right: 264px;
    top: 2862px;
    z-index:-1;
}

#stars:nth-of-type(9) {
    left: 82px;
    top: 3703px;
    z-index:-1;
    transform: rotate(-45deg);
}

#stars:nth-of-type(10) {
    left: 779px;
    top: 3941px;
    z-index:-1;

}

#stars:nth-of-type(11) {
    left: 1323px;
    top: 4690px;
    z-index: 1;

}

#stars:nth-of-type(12) {
    left: 82px;
    top: 4901px;
    transform: rotate(-45deg);
    z-index:1;
}


#stars:nth-of-type(13) {
    content: url('./images/star1.png');
    left: 850px;
    top: 5025px;
    z-index: 1;

}

#stars:nth-of-type(14) {
    content: url('./images/star1.png');
    left: 560px;
    top: 5420px;
    transform: rotate(-45deg);
    z-index:1;
}

/* Desktop  */
@media (max-width:992px){
    .gap-5{
        gap:10px !important;
    }
    
    .nav-link, form{
       display: flex;
       justify-content: center;
       margin:8px;
    }

    .navbar,.navbar-collapse{
        width: 100%;
        z-index: 1;
        padding:8px;
        background: #ffffff;
  
    }
    .container-fluid{
       padding: 0px;
    }

    .d-flex .col-10, .d-flex .gap-5{
        flex-direction: column; 
    }


    .col-5{
        width: 100%;

    }

    .col-10{
        gap:25px;
    }

    .page-gap{
        gap:25px;
    }

    .flex-column{
        display: flex;
        flex-direction: row;
    }

    .justify-content-center,.justify-content-around {
        align-items: center;
    }

 

    #frame .d-flex{
        padding:24px;
    }

    #image-align{
        align-self: end;
    }

}

/* Tablet */
@media (max-width:767px){
  
    .custom-card{
        padding:8px;
    }
    
    
    .custom-card-title,.custom-card-text{
        font-size:20px;
        line-height: 20px;
    }
    
    .custom-card-text{
        font-size: 10px;
    }
    
  
    .col-5{
        width: 75%;
    }
  

 #image-size{
    width: 500px;
    height: 500px;
 }
  
  
         
.heading{
    font-size: 24px;
    line-height: 31.5px;
}

.heading + li{
   font-size:12px;
    line-height: 19.5px;
}

.row-gap-12 {
    gap: 9px;
}
.row-gap-24{
    row-gap:18px;
}

.row-gap-32 {
    gap: 24px;
}

.row-gap-4 {
    gap: 3px;
}


.btn img {
    width: 15px;
    height: 15px;
    margin: 6px;
}

label+h1 {
    font-size: 36px;
}

label,h6,p {
    font-size: 13.5px;
    line-height: 21px;
}

h1 {
    font-size: 48px;
}

.icon-24 {
    width: 18px;
    height: 18px;
    margin-right: 7.5px;
}

.icon-30{
    width: 22.5px;
    height: 22.5px;
    margin-right: 6px;
}

.icon-40{
    width: 30px;
    height: 30px;
    margin-right: 6px;
}
.icon-48 {
    width: 36px;
    height: 36px;
    margin-right: 10.25px;
}
}

/* Phone */
@media (max-width:480px){
    
    .mobile-silver {
        width: 112px;
        height: 240px;
    }
    #image-size{
        width: 250px;
        height: 250px;
     }
    
    
    .mobile-mockup {
        width: 125px;
        height: 252px;
    }

    

.card {
    top:-125px;
    right: -50px;

  
}

.card img {
    width: 30px;
    height: 30px;

}


.card .card-title, .card a, .card .card-text{
    font-size: 10.5px;
    line-height: 10.5px;
}

.card a {
    margin: 6px 12px;
    font-size: 5.25px;
    line-height: 5.25px;
}

.card .card-text {
    align-items: center;
    line-height: 6px;
    font-size: 6px;
}

.card1{
    left: 15px;
    top: -180px;
    width: 130px;
    height:80px;
    justify-content: space-between;
}



.card1 .card1-title {
    font-size: 7.5px;
    letter-spacing:6%;
}
 .card1 .card1-text {
    font-size: 6.5px;
    letter-spacing: 6%;
}


.card1 img{
    width:28px;
    height:9px;
}
.custom-card{
    top:unset;
    right: unset;
}



}